<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='../styles.css' rel='stylesheet' type='text/css' />
  </head>
  <body id='arena-body'>

    <div id='game-guide-container'>

      <div class='game-guide-content'>
      <div class='text-block'>
        <div class='title-container'>
          <p class='guide-title'><span class='guide-span'style='border-bottom: 1px solid gold'>Game Objective</span></p>
        </div>
        <div class='text-container'>
          <p class='guide-text'><span class='guide-span'style='font-size: 30px'>A</span>s the sole survivor outrunning humanity's biggest threat - a black hole created through their own arrogance - you must evade any oncoming space debris and harvest whats left of human resources.</p>
        </div>
      </div>

      <div class='text-block'>
        <div class='title-container'>
          <p class='guide-title'><span class='guide-span'style='border-bottom: 1px solid gold'>Abilities</span></p>
        </div>
        <div class='text-container'>
          <p class='guide-text'><span class='guide-span'style='font-size: 30px'>E</span>scaping the biggliest black hole ever known to man kind wont be easy, but you've got a few super advanced abilites to help you on your way.</p>

          <div class='image-container'>
            <p class='guide-text' style='color: gold'><span class='guide-span'style='font-size: 30px'>S</span>tar Skip - ("SPACEBAR")</p>
            <img class='guide-image' src='../assets/images/abilities/relativity_thumb.png' />
          </div>
          <p class='guide-text' style='color: white'><span class='guide-span'style='font-size: 30px'>H</span>old any arrow key and press the spacebar button to execute a small skip through space.</p>

          <div class='image-container'>
            <p class='guide-text' style='color: gold'><span class='guide-span'style='font-size: 30px'>B</span>lack Toll - (Keyboard "A")</p>
            <img class='guide-image' src='../assets/images/abilities/black-toll-thumb.png' />
          </div>
          <p class='guide-text' style='color: white'><span class='guide-span'style='font-size: 30px'>P</span>ress "A" to launch a controled black hole into your enviroment. Best used as a temporary shield.</p>

          <div class='image-container'>
            <p class='guide-text' style='color: gold'><span class='guide-span'style='font-size: 30px'>L</span>ance of Light - (Keyboard "S")</p>
            <img class='guide-image' src='../assets/images/abilities/laser2-thumb.gif' />
          </div>
          <p class='guide-text' style='color: white'><span class='guide-span'style='font-size: 30px'>A</span>ctivating LoL will cause it to tear through time and space, ripping apart everything in its path.</p>

          <div class='image-container'>
            <p class='guide-text' style='color: gold'><span class='guide-span'style='font-size: 30px'>O</span>nly Escape - (Keyboard "D")</p>
            <img class='guide-image' src='../assets/images/abilities/boost.gif' />
          </div>
          <p class='guide-text' style='color: white'><span class='guide-span'style='font-size: 30px'>U</span>sing Only Escape will give you a massive speed boost - causing you to outrun the black hole. Make sure you have sufficient fuel before activating.</p>
        </div>
      </div>

      <div class='text-block'>
        <div class='title-container'>
          <p class='guide-title'><span class='guide-span'style='border-bottom: 1px solid gold'>Space Debris</span></p>
        </div>
        <div class='text-container'>
          <p class='guide-text'><span class='guide-span'style='font-size: 30px'>D</span>odge space debris to avoid losing health. If your health bar is getting low, dont panic! health orbs will periodically spawn to help you heal.</p>
          <p class='guide-text' style='color: red'><span class='guide-span'style='font-size: 30px'>A</span>steroids - </p>
        </div>
        <div class='image-container'>
          <img class='guide-image' src='../assets/images/space-debree/asteroid1_150.png' />
          <img class='guide-image' src='../assets/images/space-debree/asteroid2_150.png' />
          <img class='guide-image' src='../assets/images/space-debree/asteroid4.png' />
        </div>
        <div class='text-container'>
          <p class='guide-text' style='color: red'><span class='guide-span'style='font-size: 30px'>M</span>etal Salvage - </p>
        </div>
        <div class='image-container'>
          <img class='guide-image' src='../assets/images/space-debree/metal-salvage1.gif' />
          <img class='guide-image' src='../assets/images/space-debree/metal-salvage2.png' />
        </div>
      </div>

      <div class='text-block'>
        <div class='title-container'>
          <p class='guide-title'><span class='guide-span'style='border-bottom: 1px solid gold'>Orbs</span></p>
        </div>

        <div class='text-container'>
          <p class='guide-text'><span class='guide-span'style='font-size: 30px'>G</span>athering orbs is the most effective way to earn points and stay in the game.</p>

        <div class='image-container'>
          <p class='guide-text' style='color: red; margin-right: 40px'><span class='guide-span'style='font-size: 30px'>H</span>ealth Orb</p>
          <img class='guide-image' src='../assets/images/orbs/health-orb-v2.png' />
        </div>
        <p class='guide-text'>Collecting one health orb will restore 10% of your health.</p>

        <div class='image-container'>
          <p class='guide-text' style='color: yellow; margin-right: 40px'><span class='guide-span'>F</span>uel Orb</p>
          <img class='guide-image' src='../assets/images/orbs/fuel-orb-v2.png' />
        </div>
        <p class='guide-text'>Collecting one fuel orb will increase your fuel supply by 5%.</p>

        <div class='image-container'>
          <p class='guide-text' style='color: violet; margin-right: 40px'><span class='guide-span'style='font-size: 30px'>P</span>oint Orb</p>
          <img class='guide-image' src='../assets/images/orbs/point-orb-v2.png' />
        </div>
        <p class='guide-text'>Collecting one point orb will provide +10 points to your score.</p>

        </div>
      </div>

    </div>
    </div>

    <div id='resource-container'>

      <div id='resource-text-container'>
        <p id='health-text' style='margin-bottom: 10%; margin-top: 5%'>HEALTH:</p>
        <p id='fuel-text'>FUEL:</p>
      </div>
      <div id='health-bar-container'>
        <div id='health-slider'></div>
      </div>
      <div id='fuel-bar-container'>
        <div id='fuel-slider'></div>
      </div>

    </div>

    <div id='score-distance-wrapper'>

      <div id ='distance-wrapper'>
        <div id ='distance-text-container'>
          <p id='distance-text'>DISTANCE </p>
          <p id='distance-text2'style='margin-left: 5%'>TRAVELED: </p>
        </div>
        <div id='distance-container'>
          <p id='distance-num'></p>
        </div>
      </div>

      <div id='score-wrapper'>
        <div id='score-text-container'>
          <p id='score-text'>SCORE: </p>
        </div>
        <div id='score-container'>
          <p id='score'>0</p>
        </div>
      </div>

    </div>

    <div id ='pause-button-container'>
      <div id='pause-button'>
        <p id='pause-button-text'>PAUSE</p>
      </div>
    </div>

    <div id='idle-screen'>

      <div id ='idle-pause-button-container'>
        <div id='idle-pause-button'>
          <p id='play-button-text'>PLAY</p>
        </div>
      </div>

      <div id='pause-text-container'>
        <p id='pause-text'>PAUSED</p>
      </div>

    </div>

    <div id='star-container'>
    </div>

    <div id='play-area'>

      <div id='spaceship-container'>

        <img id='spaceship'src='../assets/images/spaceship-complete.gif' />

        </div>

      </div>

    </div>
    <div id='ability-bar'>

      <div id='relativity-icon'>
        <div id='cooldown-block'></div>
        <div id='relativity-ready-border'></div>
      </div>
      <div id='blacktoll-icon'>
        <div id='cooldown-block-blacktoll'></div>
        <div id='blacktoll-ready-border'></div>
      </div>
      <div id='laser-icon'>
        <div id='cooldown-block-laser'></div>
        <div id='laser-ready-border'></div>
      </div>
      <div id='boost-icon'>
        <div id='cooldown-block-boost'></div>
        <div id='boost-ready-border'></div>
      </div>

    </div>


    <div id='blackhole-test-container'></div>

    <div id='end-screen'>
      <div id ='end-screen-title-container'>
        <p id='end-screen-title'>GAME OVER</p>
      </div>
      <div id='end-screen-inner-container'>
        <div class='end-stat-container'>
          <p id='total-distance'></p>
        </div>
        <div class='end-stat-container'>
          <p id='total-score'></p>
        </div>
        <div class='end-stat-container'>
          <p id='final-score'></p>
        </div>

        <div id='play-again-button'>
          <p>MORE</p>
        </div>
      </div>
    </div>


    <script src='../js/js/main.js' type='module'></script>
    <!-- <script src='../js/js/groundwork.js' ></script> -->
  </body>
</html>
