<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='../styles.css' rel='stylesheet' />
  </head>
  <body id='arena-body'>

    <div id='star-container'>
    </div>

    <div id ='pause-button-container'>
      <div id='pause-button'></div>
    </div>

    <div id='idle-screen'>

      <div id ='idle-pause-button-container'>
        <div id='idle-pause-button'></div>
      </div>

      <div id='pause-text-container'>
        <p id='pause-text'>PAUSED</p>
      </div>

    </div>

    <div id='play-area'>

      <div id='spaceship-container'>

        <img id='spaceship'src='../assets/images/spaceship-complete.gif' />

      </div>

    </div>




    <script src='../js/bundle.js'></script>
  </body>
</html>
