<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='../styles.css' rel='stylesheet' type='text/css' />
  </head>
  <body id='arena-body'>

    <div id='resource-container'>

      <div id='resource-text-container'>
        <p id='health-text' style='margin-bottom: 10%; margin-top: 5%'>HEALTH:</p>
        <p id='fuel-text'>FUEL:</p>
      </div>
      <div id='health-bar-container'>
        <div id='health-slider'></div>
      </div>
      <div id='fuel-bar-container'>
        <div id='fuel-slider'></div>
      </div>

    </div>

    <div id='score-distance-wrapper'>

      <div id ='distance-wrapper'>
        <div id ='distance-text-container'>
          <p id='distance-text'>DISTANCE </p>
          <p id='distance-text2'style='margin-left: 5%'>TRAVELED: </p>
        </div>
        <div id='distance-container'>
          <p id='distance-num'></p>
        </div>
      </div>

      <div id='score-wrapper'>
        <div id='score-text-container'>
          <p id='score-text'>SCORE: </p>
        </div>
        <div id='score-container'>
          <p id='score'>0</p>
        </div>
      </div>

    </div>



    <div id ='pause-button-container'>
      <div id='pause-button'>
        <p id='pause-button-text'>PAUSE</p>
      </div>
    </div>

    <div id='idle-screen'>

      <div id ='idle-pause-button-container'>
        <div id='idle-pause-button'></div>
      </div>

      <div id='pause-text-container'>
        <p id='pause-text'>PAUSED</p>
      </div>

    </div>

    <div id='star-container'>
    </div>

    <div id='play-area'>

      <div id='spaceship-container'>

        <img id='spaceship'src='../assets/images/spaceship-complete.gif' />

        </div>

      </div>

    </div>
    <div id='ability-bar'>

      <div id='relativity-icon'>
        <div id='cooldown-block'></div>
        <div id='relativity-ready-border'></div>
      </div>
      <div id='blacktoll-icon'>
        <div id='cooldown-block-blacktoll'></div>
        <div id='blacktoll-ready-border'></div>
      </div>
      <div id='laser-icon'>
        <div id='cooldown-block-laser'></div>
        <div id='laser-ready-border'></div>
      </div>
      <div id='boost-icon'>
        <div id='cooldown-block-boost'></div>
        <div id='boost-ready-border'></div>
      </div>

    </div>


    <div id='blackhole-test-container'></div>

    <div id='end-screen'>
      <div id ='end-screen-title-container'>
        <p>GAME OVER</p>
      </div>
      <div id='end-screen-inner-container'>
        <div class='end-stat-container'>
          <p id='total-distance'></p>
        </div>
        <div class='end-stat-container'>
          <p id='total-score'></p>
        </div>
        <div class='end-stat-container'>
          <p id='final-score'></p>
        </div>

        <div id='play-again-button'>
          <p>MORE</p>
        </div>
      </div>
    </div>


    <script src='../js/js/main.js' type='module'></script>
    <!-- <script src='../js/js/groundwork.js' ></script> -->
  </body>
</html>
