<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='../styles.css' rel='stylesheet' />
  </head>

<p style='color: blue'>TEST CENTER</p>

<div id='test-spaceship'>

  <img class='spaceship'src='../assets/images/spaceship-complete.gif' />

  <div id='relativity-container'>
    <div id='object-one'></div>
    <div id='object-two'></div>
    <div id='object-three'></div>
    <div id='object-four'></div>
  </div>

</div>


<script src='../js/bundle.js'></script>
</body>
</html>
