@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

$retro: 'Press Start 2P';

#arena-body {
  background-color: black;
  // display: flex;
  // align-items: center;
  overflow: hidden;
}

#score-distance-wrapper {
  width: 20%;
  height: auto;
  // border: 1px solid white;
  position: fixed;
  display: flex;
  // justify-content: space-around;
  // align-items: flex-start;
  flex-wrap: wrap;
  top: 8%;
  left: .5%;
  background-color: rgba(0, 0, 0, .5);
}

#score-wrapper {
  width: auto;
  height: auto;
  // border: 1px solid white;
  display: flex;
  // right: 0;
  align-items: center;
  justify-content: space-around;
  // margin-left: -2%;



  #score-text-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #score-text {
      font-size: 100%;
      font-family: $retro;
      color: white;
    }
  }

  #score-container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #score {
      font-size: 100%;
      font-family: $retro;
      color: violet;
    }
  }
}

#distance-wrapper {
  width: auto;
  height: auto;
  // border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  margin-left: 1.5%;

  #distance-text-container{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #distance-text {
      font-size: 100%;
      font-family: $retro;
      color: white;
    }
    #distance-text2{
      font-size: 100%;
      font-family: $retro;
      color: white;
    }
  }
  #distance-container {
    margin-left: 10px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #distance-num {
      font-size: 100%;
      font-family: $retro;
      color: white;
    }
  }
}

#star-container {
  // z-index: 1;
  // margin-top: -5%;
  width: 100vw;
  height: 100vh;
  // border: 1px solid white;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
}

#star-row {
  width: 100%;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
}

#idle-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: none;
  // border: 1px solid black;
  background-color: rgba(0, 0, 0, .9);
  z-index: 100;
}

#pause-text-container {
  position: fixed;
  width: 588px;
  height: auto;
  // border: 1px solid black;
  top: 5%; right: 50%;
  transform: translate(50%);
}

#pause-text {
  font-family: $retro;
  color: violet;
  font-size: 100px;
}

#pause-button-container {
  border: 1px solid white;
  width: auto;
  height: auto;
  position: fixed;
  top: 1.5%;
  right: .5%;
  padding: .5% 1% .5% 1%;
  background: rgba(0, 0, 0, .5);
  z-index: 20;
}

#pause-button {
  width: auto;
  height: auto;
  // background: violet;
  // border-radius: 50%;
  cursor: pointer;
  z-index: 20;

  #pause-button-text {
    font-family: $retro;
    color: violet;
    // font-size: 100px;
  }
}

#idle-pause-button-container {
  border: 1px solid white;
  width: auto;
  height: auto;
  position: fixed;
  top: 1.5%;
  right: 1%;
  padding: .5% 1% .5% 1%;
  background: rgba(0, 0, 0, .5);
  z-index: 20;
}

#idle-pause-button {
  width: auto;
  height: auto;
  // background: violet;
  // border-radius: 50%;
  cursor: pointer;
  z-index: 20;

  #play-button-text {
    font-family: $retro;
    color: violet;
    // font-size: 100px;
  }
}

#ability-bar {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%);
  bottom: 5%;
  width: auto;
  // border: 1px solid yellow;
  z-index: 10;

  #relativity-icon {
    width: 75px;
    height: auto;
    border-radius: 5px;
    background-image: url('../assets/images/abilities/relativity_thumb.png');
    background-size: cover;
    overflow: hidden;

    #cooldown-block {
      display: none;
      // position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 5px;
      animation: cooldown 2s linear;
      opacity: .9;
    }

    #relativity-ready-border {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-image: url('../assets/images/abilities/thumb-border.gif');
      background-size: cover;
    }

  }

  #blacktoll-icon {
    margin-left: 10px;
    width: 75px;
    height: auto;
    border-radius: 5px;
    background-image: url('../assets/images/abilities/black-toll-thumb.png');
    background-size: cover;
    overflow: hidden;

    #cooldown-block-blacktoll {
      display: none;
      // position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 5px;
      animation: cooldown 20s linear;
      opacity: .9;
    }

    #blacktoll-ready-border {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-image: url('../assets/images/abilities/thumb-border.gif');
      background-size: cover;
    }
  }

  #laser-icon {
    margin-left: 10px;
    width: 75px;
    height: auto;
    border-radius: 5px;
    background-image: url('../assets/images/abilities/laser2-thumb.gif');
    background-size: cover;
    overflow: hidden;

    #cooldown-block-laser {
      display: none;
      // position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 5px;
      animation: cooldown 30s linear;
      opacity: .9;
      margin-right: 1px;
    }

    #laser-ready-border {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-image: url('../assets/images/abilities/thumb-border.gif');
      background-size: cover;
    }
  }

  #boost-icon {
    width: 75px;
    height: auto;
    border-radius: 5px;
    background-image: url('../assets/images/abilities/boost.gif');
    background-size: cover;
    overflow: hidden;
    margin-left: 10px;

    #cooldown-block-boost {
      display: none;
      // position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      border-radius: 5px;
      animation: cooldown 20s linear;
      opacity: .9;
    }

    #boost-ready-border {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background-image: url('../assets/images/abilities/thumb-border.gif');
      background-size: cover;
    }
}
}
@keyframes cooldown {
  from {margin-left: 0%}
  to {margin-left: 100%}
}

#blackhole-test-container {
  background-image: url('../assets/images/blackhole.gif');
  background-size: cover;
  position: fixed;
  top: 0;
  right: 150vh;
  width: 100vh;
  height: 100vh;
  // animation: blackhole-rotate 60s infinite linear;
  border-radius: 50%;
}

@keyframes blackhole-rotate {
  0%{transform:  rotate(360deg)}
  50% {transform: rotate(0deg)}
  100% {transform: rotate(-360deg)}
}

#game-guide-container {
  // width:  50vw;
  height: 70vh;
  background: rgba(0,0,0,.99);
  position: fixed;
  z-index: 200;
  border: 1px solid violet;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding-left: -40px;
  padding-top: 20px;

  .game-guide-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
    margin-right: -5%;
    // padding-left: 40px;
    // box-sizing: content-box;
    // border: 1px solid white;

  .text-block {
    // padding-left: -80px;
    width: 98%;
    height: auto;
    // border-bottom: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    // align-items: baseline;
    justify-content: space-around;
    // margin-left: 150px;
    margin-bottom: 10%;

    .title-container {
      width: 100%;
      height: auto;
      // border: 1px solid red;
      margin-bottom: 5%;

      .guide-title {
        font-family: $retro;
        color: violet;
        // font-size: 1.5em;
        // border-bottom: 1px solid yellow;
      }
    }

    .text-container {
      width: 100%;
      height: auto;
      // border: 1px solid yellow;

      .guide-text {
        text-indent: 30px;
        line-height: 30px;
        font-family: $retro;
        color: white;
        width: 95%;
        // font-size: 18px;
        margin-bottom: 5%;
      }
    }

    .image-container {
      width: auto;
      height: auto;
      // border: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5%;

      .guide-text {
        text-indent: 30px;
        line-height: 30px;
        font-family: $retro;
        color: white;
        // font-size: 18px;
        margin-bottom: 0px;
        // margin-left: -250px;
      }


      .guide-image {
        margin-right: 50px;
        // width: 75px;
        // height: 75px;
      }
    }
  }
}
}
