@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

$retro: 'Press Start 2P';

#landing-body {
  background-color: black;
  display: flex;
  align-items: center;
}

#levels-body {
  background-color: black;
  display: flex;
  align-items: center;
}


#play-area {
  overflow: hidden;
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#resource-container {
  width: 99%;
  height: 6%;
  // border: 1px solid white;
  // background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: .5%;
  top: 1%;
  z-index: 20;
}

#resource-text-container {
  width: auto;
  height: 100%;
  // border: 1px solid white;
  position: absolute;
  margin-right: 10px;
  // left: -30%;

  #health-text {
    font-size: 15px;
    font-family: $retro;
    color: white;
    width: 100%;
  }
  #fuel-text {
    font-size: 15px;
    font-family: $retro;
    color: white;
    width: 100%;
  }
}

#health-bar-container {
  top: 10%;
  margin-right: 68%;
  width: 25%;
  height: 30%;
  border: 1px solid white;
  position: absolute;
  overflow: hidden;
  margin-bottom: 10px;
  right: 0;
  padding-bottom: 10;

  #health-slider {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    // left: -100%;
  }
}

#fuel-bar-container {
  top: 58%;
  margin-right: 70%;
  width: 25%;
  height: 30%;
  border: 1px solid white;
  position: absolute;
  // margin-top: 1%;
  overflow: hidden;
  right: 0;

  #fuel-slider {
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: absolute;
    left: -100%;
  }
}

#spaceship-container {
  position: fixed;
  // width: 13vw;
  // height: 5vw;
  top: 50%;
  right: 50%;
  z-index: 8;
}

#spaceship {
  width: 100%;
  height: 100%;
}

  @keyframes orbit {
  from { transform:rotate(0deg)}
  to { transform:rotate(360deg) }
  }

  @keyframes negative-orbit {
  from { transform:rotate(0deg)}
  to { transform:rotate(-360deg) }
  }

#title-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  top: 50%; right: 50%;
  transform: translate(50%,-50%)
}

#carrot {
  font-family: $retro;
  color: violet;
  font-size: 100px;
}

#landing-title {
  font-family: $retro;
  color: violet;
  font-size: 100px;
  // animation: title-blink 2s;
  // animation-iteration-count: infinite;
}

#end-screen {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 200;

  #end-screen-title-container {
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 80%);
    // border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      font-family: $retro;
      color: red;
      font-size: 100px;
    }
  }

  #end-screen-inner-container {
    width: 70vh;
    height: 60vh;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgba(0,0,0,.9);
    border: 1px solid red;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    // z-index: 201;

    .end-stat-container {
      width: 100%;
      height: auto;
      // border: 1px solid white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // margin-top: 30px;

      #total-distance {
        font-family: $retro;
        color: white;
        font-size: 30px;
      }
      #total-score {
        font-family: $retro;
        color: white;
        font-size: 30px;
      }
      #final-score {
        font-family: $retro;
        color: yellow;
        font-size: 30px;
      }
    }

    #play-again-button {
      display: none;
      width: 30%;
      height: 10%;
      border: 1px solid white;
      border-radius: 2.5px;
      // display: flex;
      align-items: center;
      justify-content: space-around;
      cursor: pointer;

      p {
        font-family: $retro;
        color: white;
        font-size: 25px;
      }
    }
  }
}

@keyframes title-blink {
  from {color:black}
  to {color: violet}
}

@keyframes laser-grow {
  from {width: 0px}
  to {width: 2020px}
}
