@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');

$retro: 'Press Start 2P';

#landing-body {
  background-color: black;
  display: flex;
  align-items: center;
}

#levels-body {
  background-color: black;
  display: flex;
  align-items: center;
}


#play-area {
  overflow: hidden;
  // position: fixed;
}

#resource-container {
  width: 30%;
  height: 6%;
  // border: 1px solid white;
  position: fixed;
  left: 8.5%;
  top: 1%;
  z-index: 20;
}

#resource-text-container {
  width: 30%;
  height: 100%;
  // border: 1px solid white;
  position: absolute;
  // left: -30%;

  p {
    font-size: 15px;
    font-family: $retro;
    color: grey;
  }
}

#health-bar-container {
  top: 10%;
  width: 70%;
  height: 30%;
  border: 1px solid red;
  position: absolute;
  overflow: hidden;
  margin-bottom: 10px;
  right: 0;
  padding-bottom: 10;

  #health-slider {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    // left: -100%;
  }
}

#fuel-bar-container {
  top: 58%;
  width: 70%;
  height: 30%;
  border: 1px solid yellow;
  position: absolute;
  // margin-top: 1%;
  overflow: hidden;
  right: 0;

  #fuel-slider {
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: absolute;
    left: -100%;
  }
}

#spaceship-container {
  position: fixed;
  width: 13%;
  // height: 93.5px;
  // border: 1px solid white;
  top: 50%; right: 50%;
  // transform: translate(50%,-50%);
  z-index: 8;
}

#spaceship {
  width: 100%;
  height: 100%;
}

  #relativity-container {
    position: absolute;
    top: -215%;
    left: -60%;
    // transform: translate(50%,-50%);
    width: 220.5%;
    height: 551%;
    border-radius: 50%;
    // border: 1px solid yellow;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-name:orbit;
    animation-duration:.7s;

    #object-one {
      position: absolute;
      // top: 5%;
      left: 45%;
      width: 15%;
      height: 15%;
      // border-radius: 50%;
      // background-color: gray;
    }
    #object-two {
      position: absolute;
      top: 90%;
      left: 45%;
      width: 15%;
      height: 15%;
      // border-radius: 50%;
      // background-color: gray;
    }
    #object-three {
      position: absolute;
      top: 45%;
      left: 90%;
      width: 15%;
      height: 15%;
      // border-radius: 50%;
      // background-color: gray;
    }
    #object-four {
      position: absolute;
      top: 45%;
      // left: 5%;
      width: 15%;
      height: 15%;
      // border-radius: 50%;
      // background-color: gray;
    }
  }

  @keyframes orbit {
  from { transform:rotate(0deg)}
  to { transform:rotate(360deg) }
  }

#title-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  top: 50%; right: 50%;
  transform: translate(50%,-50%)
}

#carrot {
  font-family: $retro;
  color: violet;
  font-size: 100px;
}

#landing-title {
  font-family: $retro;
  color: violet;
  font-size: 100px;
  // animation: title-blink 2s;
  // animation-iteration-count: infinite;
}

@keyframes title-blink {
  from {color:black}
  to {color: violet}
}

@keyframes laser-grow {
  from {width: 0px}
  to {width: 2020px}
}

#laser-test-container {
  width: 200vw;
  height: 75px;
  // border: 1px solid white;
  position: absolute;
  // transform: translate(50%)
  // top: 20%;
  right: 110%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation-name:laser-grow;
  animation-duration:1s;
  over-flow: hidden;

  #end-container{
    width: 75px;
    height: 100%;
    // border: 1px solid yellow;
    // position: absolute;

    #end {
      height: 100%;
      width: 75px;
      background-image: url('../assets/images/abilities/laser2-end.gif');
      background-size: cover;
      // position: absolute;
      left: 0;
    }
  }


  #new-mid {
    height: 100%;
    width: 75px;
    background-image: url('../assets/images/abilities/laser2-mid-white.gif');
    background-size: cover;
  }

  #beginning {
    height: 100%;
    width: 75px;
    // border: 1px solid yellow;
    background-image: url('../assets/images/abilities/laser2.gif');
    background-size: cover;
    right: 0;
    // position: absolute;
  }

}

#boost-container {
  width: 150px;
  height: 75px;
  // border: 1px solid black;
  background-image: url('../assets/images/abilities/boost.gif');
  background-size: cover;
  top: -10%;
  right: -170px;
  position: absolute;
}
